﻿@model EDI_App.Models.Mapping_M;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<environment>
    <script>
        $(document).ready(function () {

            $("#val_Vendor_Name").hide();
            $("#val_Customer_Id_Alias").hide();
            $("#val_Invoice_Id_Alias").hide();
            $("#val_Invoice_Date_Alias").hide();
            $("#val_Product_Id_Alias").hide();
            $("#val_Product_Name_Alias").hide();
            $("#val_Product_Name_Alias").hide();
            $("#val_Product_Description_Alias").hide();
            $("#val_Product_Unit_Alias").hide();
            $("#val_Product_Discount_Alias").hide();
            $("#val_Product_Amount_Alias").hide();
            $("#val_Invoice_Amount_Alias").hide();

            //validation for fields
            $("#ddl_Vendors").change(function () {
                if ($("#ddl_Vendors").selectedIndex = "0" || $("#ddl_Vendors").selectedIndex === undefined) {
                    $('#txt_Vendor_Name').val('');
                }
                var vendor_id = $(this).val();
                $('#txt_Vendor_Name').val(vendor_id);
                if (vendor_id > 0) {
                    $("#txt_Vendor_Name").val(vendor_id);
                }
                else {
                    $("#txt_Vendor_Name").val(null);
                }
                if ($("#txt_Vendor_Name").val().length > 0) {
                    $("#val_Vendor_Name").hide();
                }
                else {
                    $("#val_Vendor_Name").show();
                }
            });

            //validation for fields
            $('#txt_Customer_Id_Alias').keyup(function (e) {
                if ($("#txt_Customer_Id_Alias").val().length > 0) {
                    $("#val_Customer_Id_Alias").hide();
                }
                else {
                    $("#val_Customer_Id_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Invoice_Id_Alias').keyup(function (e) {
                if ($("#txt_Invoice_Id_Alias").val().length > 0) {
                    $("#val_Invoice_Id_Alias").hide();
                }
                else {
                    $("#val_Invoice_Id_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Invoice_Date_Alias').keyup(function (e) {
                if ($("#txt_Invoice_Date_Alias").val().length > 0) {
                    $("#val_Invoice_Date_Alias").hide();
                }
                else {
                    $("#val_Invoice_Date_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Id_Alias').keyup(function (e) {
                if ($("#txt_Product_Id_Alias").val().length > 0) {
                    $("#val_Product_Id_Alias").hide();
                }
                else {
                    $("#val_Product_Id_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Name_Alias').keyup(function (e) {
                if ($("#txt_Product_Name_Alias").val().length > 0) {
                    $("#val_Product_Name_Alias").hide();
                }
                else {
                    $("#val_Product_Name_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Description_Alias').keyup(function (e) {
                if ($("#txt_Product_Description_Alias").val().length > 0) {
                    $("#val_Product_Description_Alias").hide();
                }
                else {
                    $("#val_Product_Description_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Unit_Alias').keyup(function (e) {
                if ($("#txt_Product_Unit_Alias").val().length > 0) {
                    $("#val_Product_Unit_Alias").hide();
                }
                else {
                    $("#val_Product_Unit_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Discount_Alias').keyup(function (e) {
                if ($("#txt_Product_Discount_Alias").val().length > 0) {
                    $("#val_Product_Discount_Alias").hide();
                }
                else {
                    $("#val_Product_Discount_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Product_Amount_Alias').keyup(function (e) {
                if ($("#txt_Product_Amount_Alias").val().length > 0) {
                    $("#val_Product_Amount_Alias").hide();
                }
                else {
                    $("#val_Product_Amount_Alias").show();
                }
            });

            //validation for fields
            $('#txt_Invoice_Amount_Alias').keyup(function (e) {
                if ($("#txt_Invoice_Amount_Alias").val().length > 0) {
                    $("#val_Invoice_Amount_Alias").hide();
                }
                else {
                    $("#val_Invoice_Amount_Alias").show();
                }
            });

            $('#btn_Submit').click(function () {
                var valError_status = false;

                if ($('#txt_Customer_Id_Alias').val() == '' || $('#txt_Customer_Id_Alias').val() <= 0) {
                    $("#val_Customer_Id_Alias").show();
                    // $('#val_Customer_Id_Alias').css('visibility', 'visible');
                    valError_status = true;
                }

                if ($('#txt_Customer_Id_Alias').val() == '' || $('#txt_Customer_Id_Alias').val() <= 0) {
                    $("#val_Customer_Id_Alias").show();
                    // $('#val_Customer_Id_Alias').css('visibility', 'visible');
                    valError_status = true;
                }
                if ($('#txt_Invoice_Id_Alias').val() == '' || $('#txt_Invoice_Id_Alias').val() <= 0) {
                    $("#val_Invoice_Id_Alias").show();
                    valError_status = true;
                }
                if ($('#txt_Invoice_Date_Alias').val() == '' || $('#txt_Invoice_Date_Alias').val() <= 0) {
                    $("#val_Invoice_Date_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Id_Alias').val() == '' || $('#txt_Product_Id_Alias').val() <= 0) {
                    $("#val_Product_Id_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Name_Alias').val() == '' || $('#txt_Product_Name_Alias').val() <= 0) {
                    $("#val_Product_Name_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Description_Alias').val() == '' || $('#txt_Product_Description_Alias').val() <= 0) {
                    $("#val_Product_Description_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Unit_Alias').val() == '' || $('#txt_Product_Unit_Alias').val() <= 0) {
                    $("#val_Product_Unit_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Discount_Alias').val() == '' || $('#txt_Product_Discount_Alias').val() <= 0) {
                    $("#val_Product_Discount_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Product_Amount_Alias').val() == '' || $('#txt_Product_Amount_Alias').val() <= 0) {
                    $("#val_Product_Amount_Alias").show();
                    valError_status = true;
                }

                if ($('#txt_Invoice_Amount_Alias').val() == '' || $('#txt_Invoice_Amount_Alias').val() <= 0) {
                    $("#val_Invoice_Amount_Alias").show();
                    valError_status = true;
                }

                if (valError_status == false) {
                    if (valError_status == false) {
                        $("#form_Mapping").submit();
                    }
                }
            })

            $('#btn_Clear').click(function () {
                $("#val_Vendor_Name").hide();
                $("#val_Customer_Id_Alias").hide();
                $("#val_Invoice_Id_Alias").hide();
                $("#val_Invoice_Date_Alias").hide();
                $("#val_Product_Id_Alias").hide();
                $("#val_Product_Name_Alias").hide();
                $("#val_Product_Name_Alias").hide();
                $("#val_Product_Description_Alias").hide();
                $("#val_Product_Unit_Alias").hide();
                $("#val_Product_Discount_Alias").hide();
                $("#val_Product_Amount_Alias").hide();
                $("#val_Invoice_Amount_Alias").hide();

                $("#txt_Vendor_Name").val('');
                $("#txt_Customer_Id_Alias").val('');
                $("#txt_Invoice_Id_Alias").val('');
                $("#txt_Invoice_Date_Alias").val('');
                $("#txt_Product_Id_Alias").val('');
                $("#txt_Product_Name_Alias").val('');
                $("#txt_Product_Name_Alias").val('');
                $("#txt_Product_Description_Alias").val('');
                $("#txt_Product_Unit_Alias").val('');
                $("#txt_Product_Discount_Alias").val('');
                $("#txt_Product_Amount_Alias").val('');
                $("#txt_Invoice_Amount_Alias").val('');
                $("#ddl_Vendors").text('Please select');
                GetAll_Vendors_Json();
            })

        })
        function GetAll_Vendors_Json() {
            $.ajax({
                type: "GET",
                url: "Mapping/GetAll_Vendors_Json/",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.response != null) {
                        if (data.response.lst.length > 0) {
                            var _html = "<option value='0'>Please Select</option>";
                            $(data.response.lst).each(function (i, data) {
                                _html += "<option value=" + data.vendor_Id + ">" + data.vendor_Name + "</option>";
                            });
                            $("#ddl_Vendors").html(_html);
                        }
                        el
                    }
                    else {
                        $("#ddl_Vendors").html("<option value>Please Select</option>");
                        $('#txt_Vendor_Name').val(null);
                    }
                },
                failure: function (data) {
                    $("#ddl_Vendors").html("<option >Please Select</option>");
                    $('#txt_Vendor_Name').val(null);
                },
                error: function (data) {
                    $("#ddl_Vendors").html("<option >Please Select</option>");
                    $('#txt_Vendor_Name').val(null);
                }
            });

        }
    </script>
</environment>
<main>
    <div class="container-fluid" style=" margin-left: 213px;width: 88%;">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-12">
                <div class="col-sm-12 card-header">
                    <div class="col-sm-10" style="float:left">
                        <h3 class="text-center font-weight-light my-6">Vendor Fields Mapping</h3>
                    </div>
                    <div class="col-sm-2" style="float:right">
                        <button class="btn btn-primary btn-sm float-right " onclick="location.href='@Url.Action("List", "Mapping")'" id="btn_FieldMapping"><i class="fas fa-long-arrow-alt-left mr-5" aria-hidden="true"></i> Back</button>
                    </div>
                </div>

                <div class="card-body">
                    <form asp-controller="Mapping" asp-action="Create" method="post" id="form_Mapping">
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Vendor <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(model => model.Vendor_Id, new SelectList(ViewBag.Vendors, "Value", "Text"), "Please select", new { @style = "-webkit-appearance:menulist-button;", @tabindex = "1", @class = "form-control", @onDrop = "blur();return false;", @id = "ddl_Vendors" })
                                    @Html.HiddenFor(model => model.Vendor_Name, new { @id = "txt_Vendor_Name" })
                                    <span class="text-danger" id="val_Vendor_Name">Please Enter Alias For Vendor</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Customer Name <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Customer_Id_Alias, "", new { placeholder = "Customer Name", @tabindex = "2", @class = "form-control", @maxlength = "256", @id = "txt_Customer_Id_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span asp-validation-for="Customer_Id_Alias" class="text-danger" id="val_Customer_Id_Alias">Please Enter Alias For Customer Name</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Invoice Id <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Invoice_Id_Alias, "", new { placeholder = "Invoice ID", @tabindex = "3", @class = "form-control", @maxlength = "256", @id = "txt_Invoice_Id_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Invoice_Id_Alias">Please Enter Alias For Invoice Id</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Invoice Date <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Invoice_Date_Alias, "", new { placeholder = "Invoice Date", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Invoice_Date_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Invoice_Date_Alias">Please Enter Alias For Invoice Date</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Product Id <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Product_Id_Alias, "", new { placeholder = "Product ID", @tabindex = "4", @class = "form-control", @maxlength = "256", @id = "txt_Product_Id_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Product_Id_Alias">Please Enter Alias For Product Id</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Product Name <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Product_Name_Alias, "", new { placeholder = "Product Name", @tabindex = "5", @class = "form-control", @maxlength = "256", @id = "txt_Product_Name_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Product_Name_Alias">Please Enter Alias For Product Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Product Description <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Product_Description_Alias, "", new { placeholder = "Product Description", @tabindex = "6", @class = "form-control", @maxlength = "256", @id = "txt_Product_Description_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                </div>
                                <span class="text-danger" id="val_Product_Description_Alias">Please Enter Alias For Product Description</span>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Product Unit <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Product_Unit_Alias, "", new { placeholder = "Product Unit", @tabindex = "7", @class = "form-control", @maxlength = "256", @id = "txt_Product_Unit_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                </div>
                                <span class="text-danger" id="val_Product_Unit_Alias">Please Enter Alias For Product Unit</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Product Discount <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Product_Discount_Alias, "", new { placeholder = "Product Discount", @tabindex = "8", @class = "form-control", @maxlength = "256", @id = "txt_Product_Discount_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Product_Discount_Alias">Please Enter Alias For Product Discount</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Product Amount</label>
                                    @Html.TextBoxFor(model => model.Product_Amount_Alias, "", new { placeholder = "Product Amount", @tabindex = "9", @class = "form-control", @maxlength = "256", @id = "txt_Product_Amount_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Product_Amount_Alias">Please Enter Alias For Product Amount</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Invoice Amount <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Invoice_Amount_Alias, "", new { placeholder = "Invoice Amount", @tabindex = "10", @class = "form-control", @maxlength = "256", @id = "txt_Invoice_Amount_Alias", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Invoice_Amount_Alias">Please Enter Alias For Invoice Amount</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <button type="button" id="btn_Submit" class="btn btn btn-primary float-right" tabindex="12"><i class="fa fa-plus" aria-hidden="true"></i> SAVE </button>
                                    <a href="javascript:void(0);" id="btn_Clear" class="btn btn btn-primary float-right" tabindex="11" title="" style="margin-right:5px"><i class="fas fa-redo-alt" aria-hidden="true"></i> CLEAR </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @if (ViewBag.Message != null)
            {
                <script>
                    $(document).ready(function () {
                        var msg_Id = "@ViewBag.Message_Id";
                        var msg = "@ViewBag.Message";
                        if (msg_Id != null && msg_Id != undefined) {
                            if (msg_Id == Message_Ids.Insert || msg_Id == Message_Ids.Update || msg_Id == Message_Ids.Delete) {
                                 alert(msg);
                            }
                            else if (msg_Id == Message_Ids.Error) {
                                alert(msg);
                            }
                            else {
                                 alert(msg);
                            }
                        }
                });

                </script>
            }
        </div>
</main>
