﻿@model EDI_App.Models.Customer_M;
@{
    ViewData["Title"] = "Edit";
}

    <environment>
        <link href="~/css/jquery.autocompleter.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.css.css" rel="stylesheet" />
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script>
            $(document).ready(function () {

                $("#val_Customer_Type_Name").hide();
                $("#val_Customer_Name").hide();
                $("#val_Customer_Code").hide();
                $("#val_City").hide();
                $("#val_State_Id").hide();
                $("#val_Country").hide();
                $("#val_Phone_Number").hide();
                $("#val_Address").hide();
                $("#val_Email_Address").hide();
                $("#val_Tax_Number").hide();
                $("#val_Vendor_Code").hide();
                $("#val_Status_Id").hide();
                $("#val_Zip_Code").hide();

                //validation for fields
                $("#ddl_Customers_Type").change(function () {
                    if ($("#ddl_Customers_Type").selectedIndex = "0" || $("#ddl_Customers_Type").selectedIndex === undefined) {
                        $('#hdn_Customer_Type_Name').val('');
                    }
                    var vendor_id = $(this).val();
                    $('#hdn_Customer_Type_Name').val(vendor_id);
                    if (vendor_id > 0) {
                        $("#hdn_Customer_Type_Name").val(vendor_id);
                    }
                    else {
                        $("#hdn_Customer_Type_Name").val(null);
                    }
                    if ($("#hdn_Customer_Type_Name").val().length > 0) {
                        $("#val_Customer_Type_Name").hide();
                    }
                    else {
                        $("#val_Customer_Type_Name").show();
                    }
                });



                //validation for fields
                $("#ddl_Status").change(function () {
                    if ($("#ddl_Status").selectedIndex = "0") {
                        $('#hdn_Status_Id').val(1);
                    }
                    var status_id = $(this).val();
                    $('#hdn_Status_Id').val(status_id);
                    if (status_id > 0) {
                        $("#hdn_Status_Id").val(status_id);
                    }
                    else {
                        $("#hdn_Status_Id").val(null);
                    }
                    if ($("#hdn_Status_Id").val().length > 0) {
                        $("#val_Status_Id").hide();
                    }
                    else {
                        $("#hdn_Status_Id").show();
                    }
                });


                //validation for fields
                $('#txt_Customer_Name').keyup(function (e) {
                    if ($("#txt_Customer_Name").val().length > 0) {
                        $("#val_Customer_Name").hide();
                    }
                    else {
                        $("#val_Customer_Name").show();
                    }
                });

                //validation for fields
                $('#txt_Customer_Code').keyup(function (e) {
                    if ($("#txt_Customer_Code").val().length > 0) {
                        $("#val_Customer_Code").hide();
                    }
                    else {
                        $("#val_Customer_Code").show();
                    }
                });

                //validation for fields
                $('#txt_City').keyup(function (e) {
                    if ($("#txt_City").val().length > 0) {
                        $("#val_City").hide();
                    }
                    else {
                        $("#val_City").show();
                    }
                });

                //validation for fields
                $('#txt_Country').keyup(function (e) {
                    if ($("#txt_Country").val().length > 0) {
                        $("#val_Country").hide();
                    }
                    else {
                        $("#val_Country").show();
                    }
                });

                //validation for fields
                $('#txt_Tax_Number').keyup(function (e) {
                    if ($("#txt_Tax_Number").val().length > 0) {
                        $("#val_Tax_Number").hide();
                    }
                    else {
                        $("#val_Tax_Number").show();
                    }
                });

                //validation for fields
                $('#txt_Phone_Number').keyup(function (e) {
                    if ($("#txt_Phone_Number").val().length > 0) {
                        $("#val_Phone_Number").hide();
                    }
                    else {
                        $("#val_Phone_Number").show();
                    }
                });

                //validation for fields
                $('#txt_Address').keyup(function (e) {
                    if ($("#txt_Address").val().length > 0) {
                        $("#val_Address").hide();
                    }
                    else {
                        $("#val_Address").show();
                    }
                });

                //validation for fields
                $('#txt_Email_Address').keyup(function (e) {
                    if ($("#txt_Email_Address").val().length > 0) {
                        $("#val_Email_Address").hide();
                    }
                    else {
                        $("#val_Email_Address").show();
                    }
                });


                //validation for fields
                // validation for fields
                $('#txt_Zip_Code').keyup(function (e) {
                    if ($("#txt_Zip_Code").val().length > 0) {
                        $("#val_Zip_Code").hide();
                    }
                    else {

                        $("#val_Zip_Code").show();
                    }
                });
                $("#ddl_States").change(function () {
                    alert($('option:selected', this).text());
                    // GetAll_Zip();
                    $("#txt_Zip_Code").val('');
                    SearchText();

                });

                $('#btn_Submit').click(function () {
                    var valError_status = false;

                    if ($('#hdn_Customer_Type_Name').val() == '' || $('#hdn_Customer_Type_Name').val() <= 0) {
                        $("#val_Customer_Type_Name").show();
                        valError_status = true;
                    }

                    if ($('#txt_Customer_Name').val() == '' || $('#txt_Customer_Name').val() <= 0) {
                        $("#val_Customer_Name").show();
                        valError_status = true;
                    }

                    if ($('#txt_Customer_Name').val() == '' || $('#txt_Customer_Name').val() <= 0) {
                        $("#val_Customer_Name").show();
                        valError_status = true;
                    }
                    if ($('#txt_Customer_Code').val() == '' || $('#txt_Customer_Code').val() <= 0) {
                        $("#val_Customer_Code").show();
                        valError_status = true;
                    }
                    if ($('#txt_City').val() == '' || $('#txt_City').val() <= 0) {
                        $("#val_City").show();
                        valError_status = true;
                    }

                    if ($('#txt_Country').val() == '' || $('#txt_Country').val() <= 0) {
                        $("#val_Country").show();
                        valError_status = true;
                    }

                    if ($('#txt_Tax_Number').val() == '' || $('#txt_Tax_Number').val() <= 0) {
                        $("#val_Tax_Number").show();
                        valError_status = true;
                    }

                    if ($('#txt_Phone_Number').val() == '' || $('#txt_Phone_Number').val() <= 0) {
                        $("#val_Phone_Number").show();
                        valError_status = true;
                    }

                    if ($('#txt_Address').val() == '' || $('#txt_Address').val() <= 0) {
                        $("#val_Address").show();
                        valError_status = true;
                    }

                    if ($('#txt_Email_Address').val() == '' || $('#txt_Email_Address').val() <= 0) {
                        $("#val_Email_Address").show();
                        valError_status = true;
                    }

                    if ($('#txt_Zip_Code').val() == '' || $('#txt_Zip_Code').val() <= 0) {
                        $("#val_Zip_Code").show();
                        valError_status = true;
                    }

                    if (valError_status == false) {
                        if (valError_status == false) {
                            $("#form_Customer").submit();
                        }
                    }
                })

                $('#btn_Reset').click(function () {

                    $("#val_Customer_Type_Name").hide();
                    $("#val_Customer_Name").hide();
                    $("#val_Customer_Code").hide();
                    $("#val_City").hide();
                    $("#val_State_Id").hide();
                    $("#val_Country").hide();
                    $("#val_Tax_Number").hide();
                    $("#val_Phone_Number").hide();
                    $("#val_Email_Address").hide();
                    $("#val_Address").hide();
                    $("#val_Zip_Code").hide();
                    $("#val_Status_Id").hide();


                    $("#hdn_State").val('');
                    var customer_Id = $('#hdn_Customer_Id').val();
                    GetAll_Customer_Type_Json();
                    GetAll_States_Json();
                    Get_Customer_Json(customer_Id);
                })

            })
            function GetAll_Customer_Type_Json() {
                $.ajax({
                    type: "GET",
                    url: "/Customer/GetAll_Customer_Type_Json/",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data.response != null) {
                            if (data.response.lst.length > 0) {
                                var _html = "<option value='0'>Please Select</option>";
                                $(data.response.lst).each(function (i, data) {
                                    _html += "<option value=" + data.value + ">" + data.text + "</option>";
                                });
                                $("#ddl_Customers_Type").html(_html);
                            }
                        }
                        else {
                            $("#ddl_Customers_Type").html("<option value>Please Select</option>");
                            $('#hdn_Customer_Type_Name').val(null);
                        }
                    },
                    failure: function (data) {
                        $("#ddl_Customers_Type").html("<option >Please Select</option>");
                        $('#hdn_Customer_Type_Name').val(null);
                    },
                    error: function (data) {
                        $("#ddl_Customers_Type").html("<option >Please Select</option>");
                        $('#hdn_Customer_Type_Name').val(null);
                    }
                });

            }
            function Get_Customer_Json(customer_Id) {
                $.ajax({
                    type: "GET",
                    url: "/Customer/Get_Customer_Json/",
                    contentType: "application/json; charset=utf-8",
                    data: { customer_Id: customer_Id },
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            if (data.customer_Type_Id != 0) {
                                $("#ddl_Customers_Type").val(data.customer_Type_Id);
                                $("#hdn_Customer_Type_Name").val(data.customer_Type_Name);
                                $("#txt_Customer_Name").val(data.customer_Name);
                                $("#txt_Customer_Code").val(data.customer_Code);
                                $("#txt_City").val(data.city);
                                $("#ddl_States").val(data.state_Id);
                                $("#hdn_State").val(data.state);
                                $("#txt_Country").val(data.country);
                                $("#txt_Fax_Number").val(data.fax_Number);
                                $("#txt_Tax_Number").val(data.tax_Number);
                                $("#txt_Phone_Number").val(data.phone_Number);
                                $("#txt_Address").val(data.address);
                                $("#txt_Email_Address").val(data.email_Address);
                                $("#txt_Secondary_Email_Address").val(data.secondary_Email_Address);
                                $("#txt_Zip_Code").val(data.zip);
                                $("#hdn_Status_Id").val(data.status_Id);
                            }
                        }
                        else {
                            $("#hdn_Customer_Type_Name").val('');
                            $("#txt_Customer_Name").val('');
                            $("#txt_Customer_Code").val('');
                            $("#txt_City").val('');
                            $("#hdn_State").val('');
                            $("#txt_Country").val('');
                            $("#txt_Fax_Number").val('');
                            $("#txt_Tax_Number").val('');
                            $("#txt_Phone_Number").val('');
                            $("#txt_Phone_Number").val('');
                            $("#txt_Address").val('');
                            $("#txt_Email_Address").val('');
                            $("#txt_Secondary_Email_Address").val('');
                            $("#txt_Zip_Code").val('');
                            $("#hdn_Status_Id").val('');
                        }
                    },
                    failure: function (data) {
                        $("#hdn_Customer_Type_Name").val('');
                        $("#txt_Customer_Name").val('');
                        $("#txt_Customer_Code").val('');
                        $("#txt_City").val('');
                        $("#hdn_State").val('');
                        $("#txt_Country").val('');
                        $("#txt_Fax_Number").val('');
                        $("#txt_Tax_Number").val('');
                        $("#txt_Phone_Number").val('');
                        $("#txt_Phone_Number").val('');
                        $("#txt_Address").val('');
                        $("#txt_Email_Address").val('');
                        $("#txt_Secondary_Email_Address").val('');
                        $("#txt_Zip_Code").val('');
                        $("#hdn_Status_Id").val('');
                    },
                    error: function (data) {
                        $("#hdn_Customer_Type_Name").val('');
                        $("#txt_Customer_Name").val('');
                        $("#txt_Customer_Code").val('');
                        $("#txt_City").val('');
                        $("#hdn_State").val('');
                        $("#txt_Country").val('');
                        $("#txt_Fax_Number").val('');
                        $("#txt_Tax_Number").val('');
                        $("#txt_Phone_Number").val('');
                        $("#txt_Phone_Number").val('');
                        $("#txt_Address").val('');
                        $("#txt_Email_Address").val('');
                        $("#txt_Secondary_Email_Address").val('');
                        $("#txt_Zip_Code").val('');
                        $("#hdn_Status_Id").val('');
                    }
                });

            }

            function GetAll_States_Json() {
                $.ajax({
                    type: "GET",
                    url: "/Customer/GetAll_States_Json/",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data.response != null) {
                            if (data.response.lst.length > 0) {
                                var _html = "<option value='0'>Please Select</option>";
                                $(data.response.lst).each(function (i, data) {
                                    _html += "<option value=" + data.state_Id + ">" + data.state + "</option>";
                                });
                                $("#ddl_States").html(_html);
                            }
                        }
                        else {
                            $("#ddl_States").html("<option value>Please Select</option>");
                            $('#hdn_State').val(null);
                        }
                    },
                    failure: function (data) {
                        $("#ddl_States").html("<option >Please Select</option>");
                        $('#hdn_State').val(null);
                    },
                    error: function (data) {
                        $("#ddl_States").html("<option >Please Select</option>");
                        $('#hdn_State').val(null);
                    }
                });

            }
            function SearchText() {


                $("#txt_Zip_Code").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: "/Vendor/GetAll_Zip/",
                            // data: "{'SearchText':'" "'}",
                            data: { state_Id: $('#ddl_States').val(), search_Text: $('#txt_Zip_Code').val() },
                            autoFocus: true,
                            dataType: "json",
                            cache: false,
                            success: function (data) {
                                if (data.length == 0) {

                                }
                                else {

                                }
                                var array = data.error ? [] : $.map(data, function (e) {
                                    return {
                                        label: e.text,
                                        value: e.text
                                    };
                                });
                                response(array);
                            },
                            error: function (result) {
                                //alert("No Match");
                            }
                        });
                    },
                    select: function (event, ui) {
                        //$('#txtTesterName').val(ui.item.label);
                        //$('#txtUser_Id').val(ui.item.value);
                        //return false; // Prevent the widget from inserting the value.
                    }
                });
            }


        </script>
    </environment>
<main>
    <div class="container-fluid" style=" margin-left: 213px;width: 88%;">
        <div class="col-lg-12" style="margin-top:53px">
            <div class="card shadow-lg border-0 rounded-lg mt-12">
                <div class="col-sm-12 card-header">
                    <div class="col-sm-10" style="float:left">
                        <h3 class="text-center font-weight-light my-6">Customer</h3>
                    </div>
                    <div class="col-sm-2" style="float:right">
                        <button class="btn btn-primary btn-sm float-right " onclick="location.href='@Url.Action("List", "Customer")'" id="btn_FieldMapping"><i class="fas fa-long-arrow-alt-left mr-5" aria-hidden="true"></i> Back</button>
                    </div>
                </div>

                <div class="card-body">
                    <form asp-controller="Customer" asp-action="Edit" method="post" id="form_Customer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Account Type <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(model => model.Customer_Type_Id, new SelectList(ViewBag.Customers_Type, "Value", "Text"), "Please select", new { @style = "-webkit-appearance:menulist-button;", @tabindex = "2", @class = "form-control", @onDrop = "blur();return false;", @id = "ddl_Customers_Type" })
                                    @Html.HiddenFor(model => model.Customer_Type_Name, new { @id = "hdn_Customer_Type_Name" })
                                    @Html.HiddenFor(model => model.Customer_Id, new { @id = "hdn_Customer_Id" })
                                    <span class="text-danger" id="val_Customer_Type_Name">Please Select Account Type</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Customer Name <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Customer_Name, "", new { placeholder = "Customer Name", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Customer_Name", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span asp-validation-for="Customer_Name" class="text-danger" id="val_Customer_Name">Please Enter Alias For Customer Name</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Customer Id/Code <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Customer_Code, "", new { placeholder = "Corporate Customer Id/Code", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Customer_Code", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Customer_Code">Please Enter Corporate Customer Id/Code</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">City <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.City, "", new { placeholder = "City", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_City", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_City">Please Enter City</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1">State <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(model => model.State_Id, new SelectList(ViewBag.States, "Value", "Text"), "Please select", new { @style = "-webkit-appearance:menulist-button;", @tabindex = "5", @class = "form-control", @onDrop = "blur();return false;", @id = "ddl_States" })
                                    @Html.HiddenFor(model => model.State, new { @id = "hdn_State" })
                                    <span class="text-danger" id="val_State_Id">Please Enter State</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1">Country <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Country, "", new { placeholder = "Country", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Country", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Country">Please Enter Country</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1">Phone Number <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Phone_Number, "", new { placeholder = "Phone Number", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Phone_Number", @onDrop = "blur();return false;", autocomplete = "off" })
                                </div>
                                <span class="text-danger" id="val_Phone_Number">Please Phone Number</span>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Address <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Address, "", new { placeholder = "Email Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Address", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Address">Please Enter Address</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Email Address <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Email_Address, "", new { placeholder = "Email Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Email_Address", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Email_Address">Please Enter Email Address</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Secondary Email Address</label>
                                    @Html.TextBoxFor(model => model.Secondary_Email_Address, "", new { placeholder = "Secondary Email Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Secondary_Email_Address", @onDrop = "blur();return false;", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1">Fax Number</label>
                                    @Html.TextBoxFor(model => model.Fax_Number, "", new { placeholder = "Fax Number", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Fax_Number", @onDrop = "blur();return false;", autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Tax Number <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.Tax_Number, "", new { placeholder = "Tax Number", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Tax_Number", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Tax_Number">Please Enter Tax Number</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1">Zip <span class="text-danger">*</span></label>

                                    @Html.TextBoxFor(model => model.Zip, "", new { placeholder = "Zip", @onDrop = "blur();return false;", autocomplete = "off", @maxlength = "55", @class = "form-control", @id = "txt_Zip_Code" })
                                    <span class="text-danger" id="val_Zip_Code">Please Enter Zip</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Status <span class="text-danger">*</span></label>
                                    <select class="form-control">
                                        <option value="0">Active</option>
                                        <option value="1">In-Active</option>
                                    </select>
                                    @Html.HiddenFor(model => model.Status_Id, new { @id = "hdn_Status_Id" })
                                    <span class="text-danger" id="val_Status_Id">Please Select Status</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <button type="button" id="btn_Submit" class="btn btn btn-primary float-right" tabindex="12"><i class="fa fa-plus" aria-hidden="true"></i> UPDATE </button>
                                    <a href="javascript:void(0);" id="btn_Reset" class="btn btn btn-primary float-right" tabindex="11" title="" style="margin-right:5px"><i class="fas fa-redo-alt" aria-hidden="true"></i> RESET </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
</main>

