﻿@model IEnumerable<EDI_App.Models.Customer_M>;
@{
    ViewData["Title"] = "List";
}

<script src="~/Pages/Common_Ids.js"></script>
<script src="~/Pages/js/Customer/Customer_List.js"></script>
<main>
    <div class="container-fluid" style=" margin-left: 213px;width: 88%;">
        <div class="col-lg-12" style="margin-top:53px">
            <div class="card shadow-lg border-0 rounded-lg mt-12">
                <div class="col-sm-12 card-header">
                    <div class="col-sm-10" style="float:left">
                        <h3 class="text-center font-weight-light my-6">Customer List</h3>
                    </div>
                    <div class="col-sm-2" style="float:right">
                        <button class="btn btn-primary btn-sm float-right " onclick="location.href='@Url.Action("Create", "Customer")'" id="btn_Customer"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <table class="table table-hover table-sm functional-team-view" id="tbl_CustomerList">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Account Type</th>
                                    <th>Customer Id/Code</th>
                                    <th>Address</th>
                                    <th>Email Address</th>
                                    <th>Status</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr class="listrow">
                                        <td style="text-align: justify;" id="lnk_testCaseName">
                                            @Html.HiddenFor(modelItem => item.Customer_Id)
                                            <a href="javascript:void(0)" title="Edit." id="@item.Customer_Id" onclick="location.href='@Url.Action("Edit", "Customer")?vendor_Id='+@item.Customer_Id">
                                                @Html.DisplayFor(modelItem => item.Customer_Name)
                                            </a>
                                        </td>
                                        <td style="text-align: justify;">
                                            @Html.DisplayFor(modelItem => item.Customer_Type_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer_Code)
                                        </td>
                                        <td style="text-align: justify;">
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td style="text-align: justify;">
                                            @Html.DisplayFor(modelItem => item.Email_Address)
                                        </td>

                                        @if (item.Status == false)
                                        {
                                            <td style="text-align: justify;">Active</td>
                                        }
                                        else
                                        {
                                            <td style="text-align: justify;">InActive</td>
                                        }

                                        <td class="action-icon">
                                            <div class="text-center" style="width: 78px;">
                                                <a href="javascript:void(0)" id="@item.Customer_Id" class="edit_Customer_Id">
                                                    <i class="fas fa-edit" onclick="location.href='@Url.Action("Edit", "Customer")?customer_Id='+@item.Customer_Id"></i>
                                                </a>
                                                <a href="javascript:void(0)" id="@item.Customer_Id" class="Customer_Id">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="card-body" id="div_pagination">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="div_paginationInfo" role="status" aria-live="polite"></div>
                                </div>
                                <div class="col-sm-6 ">
                                    <nav aria-label="pagination" class="float-right">
                                        <ul class="pagination pagination-flat pagination-rounded" id="lst_pagination"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="card-footer text-center">
                        <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                    </div>*@
            </div>
        </div>
        @if (ViewBag.Message != null)
        {
            <script>
                    $(document).ready(function () {
                        var msg_Id = "@ViewBag.Message_Id";
                        var msg = "@ViewBag.Message";
                        if (msg_Id != null && msg_Id != undefined) {
                            if (msg_Id == Message_Ids.Insert || msg_Id == Message_Ids.Update || msg_Id == Message_Ids.Delete) {
                                 alert(msg);
                            }
                            else if (msg_Id == Message_Ids.Error) {
                                alert(msg);
                            }
                            else {
                                 alert(msg);
                            }
                        }
                });

            </script>
        }
    </div>
</main>


