﻿@model EDI_App.Models.User_M;
@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>
<environment>
    <script>
        $(document).ready(function () {

            $("#val_First_Name").hide();
            $("#val_Last_Name").hide();
            $("#val_Email_Id").hide();
            $("#val_Phone_Number").hide();
            $("#val_Address").hide();
            $("#val_Secondary_Email_Id").hide();
            $("#val_Password").hide();
            $("#val_Confirmed_Password").hide();
            $("#val_Role").hide();
            $("#val_OtherInfo").hide();
            $("#val_Role").hide();
            //validation for fields
            $('#txt_First_Name').keyup(function (e) {
                if ($("#txt_First_Name").val().length > 0) {
                    $("#val_First_Name").hide();
                }
                else {
                    $("#val_First_Name").show();
                }
            });

            //validation for fields
            $('#txt_Last_Name').keyup(function (e) {
                if ($("#txt_Last_Name").val().length > 0) {
                    $("#val_Last_Name").hide();
                }
                else {
                    $("#val_Last_Name").show();
                }
            });

            //validation for fields
            $('#txt_Email_Id').keyup(function (e) {
                if ($("#txt_Email_Id").val().length > 0) {
                    $("#val_Email_Id").hide();
                }
                else {
                    $("#val_Email_Id").show();
                }
            });

            //validation for fields
            $('#txt_Phone_Number').keyup(function (e) {
                if ($("#txt_Phone_Number").val().length > 0) {
                    $("#val_Phone_Number").hide();
                }
                else {
                    $("#val_Phone_Number").show();
                }
            });

            //validation for fields
            $('#txt_Password').keyup(function (e) {
                if ($("#txt_Password").val().length > 0) {
                    $("#val_Password").hide();
                }
                else {
                    $("#val_Password").show();
                }
            });

            //validation for fields
            $('#txt_Confirmed_Password').keyup(function (e) {
                if ($("#txt_Confirmed_Password").val().length > 0) {
                    $("#val_Confirmed_Password").hide();
                }
                else {
                    $("#val_Confirmed_Password").show();
                }
            });

              $('input[type=radio]').change(function () {
                if (($('#tbl_Roles_Left').find('input[type="radio"]:checked').length >= 1) || ($('#tbl_Roles_Right').find('input[type="radio"]:checked').length >= 1)) {
                    if ($(this).prop('checked') == true) {
                        $(this).val();
                        $("#val_Role").hide();
                        $('#hdn_Role_Id').val();
                    }
                }
                else {
                    $("#val_Role").show();
                }
            });


            $('#btn_Submit').click(function () {
                var valError_status = false;

                if ($('#txt_First_Name').val() == '' || $('#txt_First_Name').val() <= 0) {
                    $("#val_First_Name").show();
                    valError_status = true;
                }

                if ($('#txt_Last_Name').val() == '' || $('#txt_Last_Name').val() <= 0) {
                    $("#val_Last_Name").show();
                    valError_status = true;
                }
                if ($('#txt_Email_Id').val() == '' || $('#txt_Email_Id').val() <= 0) {
                    $("#val_Email_Id").show();
                    valError_status = true;
                }
                if ($('#txt_Phone_Number').val() == '' || $('#txt_Phone_Number').val() <= 0) {
                    $("#val_Phone_Number").show();
                    valError_status = true;
                }
                if ($('#txt_Password').val() == '' || $('#txt_Password').val() <= 0) {
                    $("#val_Password").show();
                    valError_status = true;
                }
                if ($('#txt_Confirmed_Password').val() == '' || $('#txt_Confirmed_Password').val() <= 0) {
                    $("#val_Confirmed_Password").show();
                    valError_status = true;
                }

                if (($('#tbl_Roles_Left').find('input[type="radio"]:checked').length >= 1) || ($('#tbl_Roles_Right').find('input[type="radio"]:checked').length >= 1)) {
                    $("#val_Role").hide();
                }
                else {
                    $("#val_Role").show();
                    valError_status = true;
                }

                if ($('#txt_Password').val() == $('#txt_Confirmed_Password').val()) {
                    $('#val_Confirmed_Password').hide();
                }
                else {
                    $('#txt_Confirmed_Password').val('');
                    $('#val_Confirmed_Password').hide();
                    alert('Confirm password does not match entered password.')
                    valError_status = true;
                }

                if (valError_status == false) {
                    if (valError_status == false) {
                        $("#form_User").submit();
                    }
                }
            })

            $('#btn_Reset').click(function () {
                 var user_Id = $('#hdn_User_Id').val();
                var url = "/User/Edit?user_Id="+user_Id;
                window.location.replace(url);
            })
        })
    </script>
</environment>
<main>
    <div class="container-fluid" style=" margin-left: 213px;width: 88%;">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-12">
                <div class="col-sm-12 card-header">
                    <div class="col-sm-10" style="float:left">
                        <h3 class="text-center font-weight-light my-6">User</h3>
                    </div>
                    <div class="col-sm-2" style="float:right">
                        <button class="btn btn-primary btn-sm float-right " onclick="location.href='@Url.Action("List", "User")'" id="btn_Back"><i class="fas fa-long-arrow-alt-left mr-5" aria-hidden="true"></i> Back</button>
                    </div>
                </div>

                <div class="card-body">
                    <form asp-controller="User" asp-action="Edit" method="post" id="form_User">


                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">First Name</label>
                                    @Html.HiddenFor(model => model.User_Id, new { @id = "hdn_User_Id" })
                                    @Html.TextBoxFor(model => model.First_Name, "", new { placeholder = "First Name", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_First_Name", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_First_Name">Please Enter User First Name</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Last Name</label>
                                    @Html.TextBoxFor(model => model.Last_Name, "", new { placeholder = "Last Name", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Last_Name", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Last_Name">Please Enter User Last Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Phone Number</label>
                                    @Html.TextBoxFor(model => model.Phone_Number, "", new { placeholder = "Phone Number", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Phone_Number", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Phone_Number">Please Enter User Phone Number</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Address</label>
                                    @Html.TextBoxFor(model => model.Address, "", new { placeholder = "Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Address", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Address">Please Enter User Address</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Email Id</label>
                                    @Html.TextBoxFor(model => model.Email_Address, "", new { placeholder = "Email Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Email_Id", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Email_Id">Please Enter User Email Id</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: right;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Secondary Email Id</label>
                                    @Html.TextBoxFor(model => model.Secondary_Email_Address, "", new { placeholder = "Secondary Email Address", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Secondary_Email_Id", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Secondary_Email_Id">Please Enter User Secondary Email Id</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Password</label>
                                    @Html.PasswordFor(model => model.Password, new { value = Model.Password, placeholder = "Password", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Password", @onDrop = "blur();return false;", autocomplete = "off" })
                                    <span class="text-danger" id="val_Password">Please Enter User Password</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Confirmed Password</label>
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { value = Model.Password, placeholder = "Confirmed Password", @tabindex = "1", @class = "form-control", @maxlength = "256", @id = "txt_Confirmed_Password", @onDrop = "blur();return false;", autocomplete = "off" }) @*</div>*@
                                    <span class="text-danger" id="val_Confirmed_Password">Please Enter User Confirmed Password</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Other Information</label>
                                    <textarea cols="80" id="OtherInfo" class="form-control" name="OtherInfo" rows="8" style="margin-top: 0px; margin-bottom: 0px; height: 191px;"></textarea>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" style="float: left;">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Roles</label>

                                    <table id="tbl_Roles">
                                        <col style="width:60%">
                                        <col style="width:60%">
                                        <tr>

                                            <td width="120px">

                                                <table id="tbl_Roles_Left">
                                                    @for (var i = 0; i < Model.Role_List.Count - 4; i++)
                                                    {
                                                        <tr>
                                                            <td height="44px" class="small mb-1">
                                                                @Html.RadioButtonFor(model => model.Role_Id, Model.Role_List[i].Role_Id, new { @id = Model.Role_List[i].Role_Id, @type = "radio", @class = "control control-radio mr-25", style = "margin-top: 6px;" })
                                                                @Html.Label(Model.Role_List[i].Role_Name, Model.Role_List[i].Role_Name, new { style = "margin-right: 30px;" })
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>

                                            </td>
                                            <td>
                                                <table id="tbl_Roles_Right">
                                                    @for (var i = 4; i < Model.Role_List.Count; i++)
                                                    {
                                                        <tr>
                                                            <td height="44px" class="small mb-1">
                                                                @Html.RadioButtonFor(model => model.Role_Id, Model.Role_List[i].Role_Id, new { @id = Model.Role_List[i].Role_Id, @type = "radio", @class = "control control-radio mr-25", style = "margin-top: 6px;" })
                                                                @Html.Label(Model.Role_List[i].Role_Name, Model.Role_List[i].Role_Name, new { style = "margin-right: 30px;" })
                                                            </td>
                                                        </tr>
                                                    }
                                                    @Html.HiddenFor(model => model.Role_Id, new { @id = "hdn_Role_Id" })
                                                </table>

                                            </td>
                                        </tr>
                                    </table>
                                    <span class="text-danger" id="val_Role">Please select Role</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="float:right;">
                                <div class="form-group">
                                    <button type="button" id="btn_Submit" class="btn btn btn-primary float-right" tabindex="12"><i class="fa fa-plus" aria-hidden="true"></i> UPDATE </button>
                                    <a href="javascript:void(0);" id="btn_Reset" class="btn btn btn-primary float-right" tabindex="11" title="" style="margin-right:5px"><i class="fas fa-redo-alt" aria-hidden="true"></i> RESET </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>
